<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ParkingSystem">
        <classes>
            <class name="org.project.parkingsystem.unitTest.ResourceCreation">
                <methods>
                    <include name="createTenant"/>
                    <include name="deleteAll"/>
                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.TenantResourceTest">
                <methods>
                    <include name="testAddTenant"/>
                    <include name="testGetTenantWithID"/>
                    <include name="testGetAllTenants"/>
                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.LevelResourceTest">
                <methods>
                    <include name="testAddLevel"/>
                    <include name="testGetAllLevels"/>
                    <include name="testAddParkingSpotsAtLevel"/>
                    <include name="testGetLevelWithId"/>
                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.PricesResourceTest">
                <methods>
                    <include name="testAddPrice"/>
                    <include name="testUpdatePrice"/>
                    <include name="testGetPrice"/>

                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.CustomerResourceTest">
                <methods>
                    <include name="testAddCustomer"/>
                    <include name="unparkCustomer"/>
                    <include name="testGetAllCustomers"/>
                    <include name="testGetAllCustomers_Car"/>
                    <include name="testGetAllCustomers_Bike"/>
                    <include name="testParkedMoreThanDay"/>
                    <include name="testParkedToday"/>


                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.ParkingSpotResourceTest">
                <methods>
                    <include name="getAllParkingSpots"/>
                    <include name="getAllCarParkingSpots"/>
                    <include name="getAllBikeParkingSpots"/>
                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.TicketResourceTest">
                <methods>
                    <include name="testGetAllTickets"/>
                    <include name="testGetTicketWithID"/>

                </methods>
            </class>
            <class name="org.project.parkingsystem.unitTest.PaymentResourceTest">
                <methods>
                    <include name="testGetAllPayments"/>
                    <include name="testGetPaymentWithID"/>
                    <include name="testGetTotalAmountCollected"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>